streamlit
pip==23.0.1
altair==4.2.2
matplotlib==3.7.0
plotly-express==0.4.1
numpy==1.24.2
mysql-connector-python==8.0.32
plotly==5.13.1
pywhatkit==5.4
folium==0.14.0
streamlit-folium==0.11.1
dotenv
